#blur {
  background-size: cover;
  background-position: center;
  font-family: 'Quicksand', sans-serif;
  display: flex;
  min-height: 100vh;
  -webkit-filter: blur(2px);
  filter: blur(2px);
}

p {

  margin: auto;
  font-size: 15vw;
  font-weight: bold;
  color: rgba(230, 226, 226, 0.5);
  padding: 0 20px;
  text-align: center;
  border: 1.5vw solid rgba(230, 226, 226, 0);
  border-radius: 4px;
  line-height: 0.8;
  background-color: rgba(180, 178, 178, 0.5);
}

p:hover {
  background-color: rgba(180, 178, 178, 0.5);
  margin: auto;
  font-size: 15vw;
  padding: 0 20px;
  color: white;
  border: 1.5vw solid rgba(180, 178, 178, 0);
  border-radius: 4px;

}
